# Pandas Challange: Assignment 2

1. Create a new Jupyter Notebook before reading the required material
2. Import pandas as pd and create a new DataFrame with three columns and three rows.
- The content of this DataFrame can be anything you choose
4. View the head of the DataFrame
5. View the index of the DataFrame
6. Select and view the first column of the DataFrame
7. Select and view the first row of the DataFrame
8. Write the DataFrame to a new CSV file saved in your assignment folder
9. In a Markdown cell, answer this question based on the content from Murray (2017) Chapter 1:
- Why are dynamic, interactive data visualizations useful when communicating data?

### 2. Import pandas as pd and create a new DataFrame with three columns and three rows.

In [1]:
# 1.) Create a new Jupyter Notebook before reading the required material
# 2.) Import pandas as pd and create a new DataFrame with three columns and three rows.

import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

### 3.The content of this DataFrame can be anything you choose

In [2]:
#create a new DataFrame with three columns and three rows.
Data_Dict={'a':[3,9,12],'b':[4,14,24],'c':[7,27,47]}
Data_DictDF=pd.DataFrame(Data_Dict)
Data_DictDF

    a   b   c
0   3   4   7
1   9  14  27
2  12  24  47

### 4. View the head of the DataFrame

In [16]:
Data_DictDF.head(2)

   a   b   c
0  3   4   7
1  9  14  27

### 5. View the index of the DataFrame.

In [3]:
Data_DictDF.index

RangeIndex(start=0, stop=3, step=1)

### 6. Select and view the first column of the DataFrame

In [7]:
Data_DictDF['a']

0     3
1     9
2    12
Name: a, dtype: int64

###  7. Select and view the first row of the DataFrame

In [13]:
Data_DictDF.iloc[0]

a    3
b    4
c    7
Name: 0, dtype: int64

In [14]:
a=Data_DictDF.iloc[0]
a

a    3
b    4
c    7
Name: 0, dtype: int64

### 8. Write the DataFrame to a new CSV file saved in your assignment folder

In [18]:
a.to_csv('a_newcsv.csv')
b=pd.read_csv('a_newcsv.csv')
b

  Unnamed: 0  0
0          a  3
1          b  4
2          c  7

### 9. In a Markdown cell, answer this question based on the content from Murray (2017) Chapter 1:
- Why are dynamic, interactive data visualizations useful when communicating data?

#### Dynamic, interactive data visualizations are valuable because they empower users to explore data independently. Murray emphasizes that static visualizations offer limited perspectives, especially for multidimensional datasets. Interactive tools allow users to navigate through data, employing functions like overview, zoom, filter, and details-on-demand. This flexibility caters to diverse audiences, from casual browsers to those seeking specific insights. Moreover, interactivity fosters engagement by making data exploration akin to a game, enhancing accessibility and interest, even for audiences initially disinterested in the subject matter. Therefore, dynamic visualizations facilitate more immersive and tailored experiences, amplifying comprehension and engagement with the data.